<h1>All philosophers</h1>

<ul>
  <% @philosophers.each do |philosopher| %>
  <li>
    <% if philosopher.first_name?  %>
      <%= philosopher.first_name philosopher.last_name %>
    <% else %>
      <%= philosopher.last_name %>
    <% end %>
    <%= philosopher.description %>
  </li>
  <% end %>
</ul>

<div id="map"
    style="width: 50%; height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>" >
</div>


