<div class="container-index-philosopher">
  <div class="list-philosophers">
      <h1 class="title-index-philosophers">All philosophers</h1>
      <% @philosophers.each do |philosopher| %>
      <div class="card-philosopher">
        <%= cl_image_tag(philosopher.photo.key,width: 150, height: 150, crop: :fill) %>
        <% if philosopher.first_name?  %>
          <h4 class="title"><%= philosopher.first_name philosopher.last_name %></h4>
        <% else %>
           <h4 class="title"><%= philosopher.last_name %></h4>
        <% end %>
        <%= philosopher.description %>
      </div>
      <% end %>
  </div>
  <div class="map">
    <%= image_tag("https://www.lonelyplanet.com/maps/europe/greece/athens/map_of_athens.jpg", :alt => "Athens") %>
  </div>
</div>
