<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="con-form">
        <h1 class="title">New philosopher</h1>
        <p class="body">Add your philosopher and let others enjoy his wisdom.</p>
        <div class="con-form-inputs">
          <%= simple_form_for(@philosopher) do |f| %>
            <div class="row">
              <div class="col-12 col-lg-6">
                <%= f.input :first_name %>
              </div>
              <div class="col-12 col-lg-6">
                <%= f.input :last_name %>
              </div>
            </div>
            <%= f.input :specialty, collection: Philosopher::SPECIALTIES %>
            <%= f.input :nationality %>
            <%= f.input :prestations, id: "prestations", collection: Philosopher::PRESTATIONS, input_html: { multiple: true}, include_hidden: false, as: :check_boxes %>
            <%= f.input :address %>
            <%= f.input :price_per_night %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: "primary-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





