<h1>Create a new philosopher</h1>

<%= simple_form_for(@philosopher) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :specialty %>
    <%= f.input :nationality %>
    <%= f.input :birthday %>
    <%= f.input :prestations, collection: Philosopher::PRESTATIONS, input_html: { multiple: true}, include_hidden: false, as: :check_boxes %>
    <%= f.input :available_location %>
    <%= f.input :price_per_night %>
    <%= f.input :description %>
    <%= f.submit %>
<% end %>
