<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="con-form">
        <h1 class="title">New philosopher</h1>
        <p class="body">Add your philosopher and let others enjoy his wisdom.</p>
        <div class="con-form-inputs">
          <%= simple_form_for(@philosopher) do |f| %>
            <div class="row">
              <div class="col-12 col-lg-6">
                <%= f.input :first_name, placeholder: "Fisrt name" %>
              </div>
              <div class="col-12 col-lg-6">
                <%= f.input :last_name, placeholder: "Last name" %>
              </div>
            </div>
            <%= f.input :specialty, as: :radio_buttons, collection: Philosopher::SPECIALTIES, wrapper: :vertical_collection_inline %>
            <%= f.input :nationality, placeholder: "Greek" %>
            <%= f.input :prestations, id: "prestations", collection: Philosopher::PRESTATIONS, input_html: { multiple: true}, include_hidden: false, as: :check_boxes %>
            <%= f.input :address %>
            <div class="row">
              <div class="col-12 col-lg-6">
                <%= f.input :price_per_night, label: "Price /night (€)", placeholder: "49" %>
              </div>
            </div>
            <%= f.input :description, placeholder: "Tell us your story..." %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: "primary-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





