<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="content">
        <%= link_to philosophers_path do%> 
          <i class="fas fa-arrow-left"></i> 
        <% end %>
        <% if @philosopher.first_name %>
          <h1 class="title"><%= @philosopher.first_name %> <%= @philosopher.last_name %></h1>
        <% else %>
          <h1 class="title"><%= @philosopher.last_name %></h1>
        <% end %>

        <div class="cont-nationality d-flex align-items-baseline">
          <p class="body-strong mr-2">Nationality:</p>
          <p class="body"><%= @philosopher.nationality %></p>
        </div>      

        <div class="cont-specialty d-flex align-items-baseline">
          <p class="body-strong mr-2">Specialty:</p>
          <p class="body"><%= @philosopher.specialty %></p>
        </div>

        <div class="cont-description">
          <p class="body-strong"><i class="fas fa-quote-left"></i></p>
          <p class="body"><%= @philosopher.description %></p>
          <p class="body-strong text-right"><i class="fas fa-quote-right"></i></p>
        </div>

        <div class="cont-prestations">
          <h4 class="title">Prestations </h4>
          <ul>
            <% @philosopher.prestations.each do |prestation| %>
              <li class="prestation"> <%= prestation  %> </li>
            <% end %>
          </ul>
        </div>
        
        <h3 class='title'> <span id="price"><%= @philosopher.price_per_night %></span>€ per night</h3>
        <!-- Button trigger modal -->
        <% if @philosopher.first_name %>
          <button type="button" class="primary-btn" data-toggle="modal" data-target="#exampleModalCenter">
            <%= "Party with #{@philosopher.first_name} #{@philosopher.last_name}" %>
          </button>
        <% else %>
          <button type="button" class="primary-btn" data-toggle="modal" data-target="#exampleModalCenter">
              <%= "Party with #{@philosopher.last_name}" %>
          </button>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="cont-photo">
        <div class="photo">
          <% if @philosopher.photo.attached? %>
            <%= cl_image_tag @philosopher.photo.key %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="booking-form" id="book-form">
          <div class="container-flex">
            <div class="form-part">
              <div class="create-form">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <% if @philosopher.first_name %>
                <h2 class="title">Book <%= @philosopher.first_name %> <%= @philosopher.last_name %></h2>
              <% else %>
                <h2 class="title"><%= @philosopher.last_name %></h2>
              <% end %> 
              
                <%= simple_form_for [ @philosopher, @reservation ] do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start" }, placeholder: "Start" %>
                  <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end" }, placeholder: "End" %>
                  <%= f.input :address %>
                  <div>
                    <h4 class="title mt-1"><span class="d-none" id="reservation_total_price"></span></h4>  
                  </div>
                  <%= f.submit class: "primary-btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>