<div class="container">

  <div class="content">
    <h1 class="title"><%= @philosopher.last_name %></h1>
    <h2 class="title"><%= @philosopher.nationality %> - <%= @philosopher.specialty %></h2>
    <p><%= @philosopher.description %></p>
    <ul>
      <% @philosopher.prestations.each do |prestation| %>
        <li> <%= prestation  %> </li>
        <% end %>
    </ul>
    <span> <%= @philosopher.price_per_night %>€ per night</span>
  </div>

  <%# <%# <div class="photo">
    <% if @philosopher.photo.attached? %>
      <%# <%= cl_image_tag @philosopher.photo.key, height: 1200px, width: 758px, crop: fill %>
    <%# <% end %> 
  <%# </div> 
</div> %>
